
.estilo1 {
    color: #00FF00;
    font-family: Helvetica;
    font-size: 240%;
}
.estilo2 {
    color: #0000FF;
    font-family: Verdana;
    font-size: 180%;
}
.estilo3 {
    color: #FF0000;
    font-family: Courier;
    font-size: 120%;
}