/* DISEÑO DE LA PÁGINA */

* {
  margin: 0;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
body {
  background-color: #afdbff;
}

/* Los títulos */

h1 {
  font-size: 2rem;
  color: #FF7F11;
}
h2 {
  font-size: 1.67rem;
  color: #247BA0;
}
h3 {
  font-size: 1.33rem;
  color: #FF1654;
}

/* La estructura de la página */

div.estructura {
  width: fit-content;
  height: fit-content;
  
  margin: 0 auto;
  padding: 50px 50px 50px 50px;
  
  display: grid;
  justify-items: center;
  gap: 50px 0;
}
div.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 40px;
}

/* Los ejemplos */

div.ejemplo {
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
}
div.accion {
  height: 30px;
  background-color: violet;
  
  padding: 0 2px 0 2px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
div.accion:hover {
  background-color: gold;
}
div.espacio {
  width: 240px;
  height: 210px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
div.caja {
  width: 92px;
  height: 60px;
  background-color: red;
  
  border: solid 2px black;
}
div.cuadro {
  width: 68px;
  height: 68px;
  background-color: blue;
  
  border: solid 2px black;
}

/* TRANSICIONES */

/* Tipos de transformaciones 2D */

div#t11 {
  background-color: red;
  transition: all 2.2s linear 0s;
}
div.accion:hover ~ div.espacio > div#t11 {
  background-color: blue;
  transform: rotate(180deg);
}

div#t12 {
  transition: all 1s linear 0s;
}
div.accion:hover ~ div.espacio > div#t12 {
  background-color: blue;
  transform: scale(150%, 75%);
}

div#t13 {
  transition: all 0.8s linear 0s;
}
div.accion:hover ~ div.espacio > div#t13 {
  background-color: blue;
  transform: translate(50px, 55px);
}

div#t14 {
  transition: all 1s linear 0s;
}
div.accion:hover ~ div.espacio > div#t14 {
  background-color: blue;
  transform: skew(20deg, 20deg);
}

/* Funciones de velocidad genéricas */

div#t21 {
  transition: all 6s ease 0s;
}
div.accion:hover ~ div.espacio > div#t21 {
  background-color: greenyellow;
  transform: rotate(720deg);
}

div#t22 {
  transition: all 6s linear 0s;
}
div.accion:hover ~ div.espacio > div#t22 {
  background-color: greenyellow;
  transform: rotate(720deg);
}

div#t23 {
  transition: all 6s ease-in 0s;
}
div.accion:hover ~ div.espacio > div#t23 {
  background-color: greenyellow;
  transform: rotate(720deg);
}

div#t24 {
  transition: all 6s ease-out 0s;
}
div.accion:hover ~ div.espacio > div#t24 {
  background-color: greenyellow;
  transform: rotate(720deg);
}

div#t25 {
  transition: all 6s ease-in-out 0s;
}
div.accion:hover ~ div.espacio > div#t25 {
  background-color: greenyellow;
  transform: rotate(720deg);
}

/* Ejemplos de transiciones compuestas */

div#t31 {
  width: 92px;
  height: 92px;
  background-color: #505050;
  border-radius: 50%;
  
  transition: all 4s ease 0s;
}
div.accion:hover ~ div.espacio > div#t31 {
  width: 60px;
  height: 60px;
  background-color: turquoise;
  border-radius: 0%;
  transform: rotate(1125deg) skew(10deg, 10deg);
}

div#t32 {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  background: linear-gradient(135deg, #99ff99, #99ff33, #ff6842);
  background-size: 200% 200%;
  background-position: 20% 10%;
  
  transition: all 4s ease 0s;
}
div.accion:hover ~ div.espacio > div#t32 {
  width: 84px;
  height: 84px;
  background-position: 90% 90%;
}

/* ANIMACIONES */

@keyframes mover_simple {
  from {
    background-color: blue;
  }
  to {
    transform: translate(60px, 50px);
    background-color: aqua;
  }
}
@keyframes mover_compuesto {
  0% {
    background-color: blue;
  }
  20% {
    transform: translate(60px, 50px);
    background-color: aqua;
  }
  40% {
    transform: translate(-60px, 50px);
  }
  60% {
    transform: translate(-60px, -50px);
  }
  80% {
    transform: translate(60px, -50px);
    background-color: aqua;
  }
  100% {
    background-color: blue;
  }
}
@keyframes girar {
  50% {
    transform: rotate(180deg);
    background-color: aqua;
  }
  100% {
    transform: rotate(360deg);
    background-color: blue;
  }
}
@keyframes ida_y_vuelta {
  20% {
    background-color: blue;
  }
  25% {
    transform: translate(60px, 0px);
  }
  30% {
    background-color: aqua;
  }
  70% {
    background-color: aqua;
  }
  75% {
    transform: translate(-60px, 0px);
  }
  80% {
    background-color: blue;
  }
}
@keyframes vuelta_completa {
  0% {
    background-color: orangered;
  }
  10% {
    transform: translate(60px, 0px);
  }
  20% {
    background-color: orangered;
    transform: translate(60px, 50px);
  }
  40% {
    background-color: yellow;
    transform: translate(-60px, 50px);
  }
  60% {
    background-color: yellow;
    transform: translate(-60px, -50px);
  }
  80% {
    background-color: orangered;
    transform: translate(60px, -50px);
  }
  90% {
    transform: translate(60px, 0px);
  }
  100% {
    background-color: orangered;
  }
}

/* Estructuración de la animación */

div.accion:hover ~ div.espacio > div#a11 {
  animation: mover_simple 1s linear 0s 1 normal forwards;
}
div.accion:hover ~ div.espacio > div#a12 {
  animation: mover_compuesto 5s linear 0s 1 normal forwards;
}

/* Repetición de la animación */

div.accion:hover ~ div.espacio > div#a21 {
  animation: girar 2s linear 0s 1 normal forwards;
}
div.accion:hover ~ div.espacio > div#a22 {
  animation: girar 2s linear 0s 3 normal forwards;
}
div.accion:hover ~ div.espacio > div#a23 {
  animation: girar 2s linear 0s infinite normal forwards;
}

/* Dirección de la animación */

div.accion:hover ~ div.espacio > div#a31 {
  animation: ida_y_vuelta 3s linear 0s infinite normal forwards;
}
div.accion:hover ~ div.espacio > div#a32 {
  animation: ida_y_vuelta 3s linear 0s infinite reverse forwards;
}
div.accion:hover ~ div.espacio > div#a33 {
  animation: ida_y_vuelta 3s linear 0s infinite alternate forwards;
}
div.accion:hover ~ div.espacio > div#a34 {
  animation: ida_y_vuelta 3s linear 0s infinite alternate-reverse forwards;
}

/* Relleno fuera de la animación */

div.accion:hover ~ div.espacio > div#a41 {
  animation: vuelta_completa 4s linear 1.2s 1 normal none;
}
div.accion:hover ~ div.espacio > div#a42 {
  animation: vuelta_completa 4s linear 1.2s 1 normal forwards;
}
div.accion:hover ~ div.espacio > div#a43 {
  animation: vuelta_completa 4s linear 1.2s 1 normal backwards;
}
div.accion:hover ~ div.espacio > div#a44 {
  animation: vuelta_completa 4s linear 1.2s 1 normal both;
}

/* MEDIA RESPONSIVE */

@media only screen and (max-width: 636px) {
  body {
    background-color: #ffdfaf;
  }
}
@media only screen and (max-width: 916px) and (min-width: 637px) {
  body {
    background-color: #e3ffaf;
  }
}
@media only screen and (max-width: 1196px) and (min-width: 917px) {
  body {
    background-color: #afffda;
  }
}
@media only screen and (max-width: 1476px) and (min-width: 1197px) {
  body {
    background-color: #afffff;
  }
}