/* VALORES GENÉRICOS */

* {
  margin: 0;
}
body {
  background-color: #afffff;
}
h1,
h2 {
  text-align: center;
}

div.estructura {
  width: fit-content;
  height: fit-content;

  margin: 0 auto;
  padding: 50px 50px 50px 50px;

  display: grid;
  justify-items: center;
  gap: 50px 0;
}
div.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 40px;
}
div.c1 {
  /* CAMBIAR PARA HACER LA PÁGINA SÓLIDA */
  min-width: auto;
}

/* Forma básica de los ejemplos */
div.ejemplo {
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
}
div.espacio {
  width: 190px;
  height: 160px;

  display: flex;
  align-items: center;
  justify-content: center;
}
div.accion {
  height: 30px;
  background-color: violet;

  padding: 0 2px 0 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}
div.caja {
  width: 86px;
  height: 56px;
  background-color: red;

  border: solid 2px black;


}

/* ANIMACIONES */

div.accion:hover {
  background-color: gold;
}

/* Tipos de transformaciones */

div#c11 {
  transition: all 2.2s linear 0s;
}
div.accion:hover ~ div.espacio>div#c11 {
  background-color: blue;
  transform: rotate(180deg);
}

div#c12 {
  transition: all 1s linear 0s;
}
div.accion:hover ~ div.espacio>div#c12 {
  background-color: blue;
  transform: scale(150%, 75%);
}

div#c13 {
  transition: all 0.8s linear 0s;
}
div.accion:hover ~ div.espacio>div#c13 {
  background-color: blue;
  transform: translate(20px, 40px);
}

div#c14 {
  transition: all 1s linear 0s;
}
div.accion:hover ~ div.espacio>div#c14 {
  background-color: blue;
  transform: skew(20deg, 20deg);
}

/* Funciones de velocidad genéricas */

div#c21 {
  transition: all 6s ease 0s;
}
div.accion:hover ~ div.espacio>div#c21 {
  background-color: greenyellow;
  transform: rotate(720deg);
}
div#c22 {
  transition: all 6s linear 0s;
}
div.accion:hover ~ div.espacio>div#c22 {
  background-color: greenyellow;
  transform: rotate(720deg);
}
div#c23 {
  transition: all 6s ease-in 0s;
}
div.accion:hover ~ div.espacio>div#c23 {
  background-color: greenyellow;
  transform: rotate(720deg);
}
div#c24 {
  transition: all 6s ease-out 0s;
}
div.accion:hover ~ div.espacio>div#c24 {
  background-color: greenyellow;
  transform: rotate(720deg);
}
div#c25 {
  transition: all 6s ease-in-out 0s;
}
div.accion:hover ~ div.espacio>div#c25 {
  background-color: greenyellow;
  transform: rotate(720deg);
}

/* EJEMPLOS COMPLEJOS */

div#c31 {
  transition: all 6s ease 0s;
}
div.accion:hover ~ div.espacio>div#c31 {
  background-color: turquoise;
  transform: rotate(720deg);
}

/* EJEMPLOS ANIMACIONES */
